.container {
  padding: 0 1rem;
  background-color: rgba(17,24,39, 1);

}

.main {
  top: 10px;
  min-height: 100vh;
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.imgPerfil {
  border-radius: 100%;
}

.infos h1 {
  font-size: 2rem;
  color: rgba(243,244,246,1);
  text-decoration: none;
  margin: 0;
}

.infos p {
  margin-top: 2px;
  color: rgba(107,114,128);
  text-decoration: none;
}

.infos a{
  display: flex;
  color: rgba(255,255,255, 1);
  background-color: rgba(109,40,217,1);
  margin-bottom: 0.5rem;
  width: 40vw;
  height: 56px;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0.25rem;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;

}

.infos span{
  margin-right: 5px !important;
}

@media screen and (max-width: 768px) {
  .infos a{
    width: 90vw;
  }
  
}
.infos,
.description {
  text-align: center;
}


.btnGithub:hover {
    background-color: rgba(55,65,81, 1);
}

.btnLinkedin:hover {
  background-color: rgba(14,118, 168);
}

.btnInstagram:hover {
  background-color: rgba(236,72,153);
}

.btnFacebook:hover {
  background-color: rgba(37,99,235);
}
